<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/global.css">
    {{#if style}}<link rel="stylesheet" href="/css/{{style}}">{{/if}}
</head>
<body>
{{{body}}}
</body>
</html>